@use '../../settings/config.variables' as config;

.second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    background-color: config.$background-color;
    padding-top: 160px;
    padding-bottom: 200px;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: config.$gap-global;
        z-index: 4;

        &__title {
            display: flex;
            
            h2 {
                font-size: 75px;
                font-weight: config.$h2-weight;
                font-family: config.$font-family-title;
                text-transform: uppercase;
                letter-spacing: config.$letter-spacing-title-text;
                background: -webkit-linear-gradient(config.$text-gradient-color, config.$text-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__subtitle {
            display: flex;

            p {
                font-size: config.$p-big-size;
                font-weight: config.$p-weight;
                font-family: config.$font-family-text;
                color: config.$text-color;
                
                a {
                    text-decoration: none;

                    span.first {
                        text-transform: uppercase;
                        color: config.$text-color;
                        font-weight: config.$h1-weight;

                        &:hover {
                            color: config.$survivors-color;
                        }
                    }

                    span.second {
                        text-transform: uppercase;
                        color: config.$text-color;
                        font-weight: config.$h1-weight;

                        &:hover {
                            color: config.$killers-color;
                        }
                    }
                }
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding-top: config.$padding-margin-global-40;
        margin-bottom: config.$padding-margin-global-40;

        &__survivor {
            display: flex;
            flex-direction: column;
            position: relative;

            &__logo {
                position: relative;
                z-index: 2;

                img {
                    width: 50%;
                    opacity: 0.8;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        transform: translateY(-25px);
                        opacity: 1;
                    }
                }
            }

            &__text {
                position: absolute;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                user-select: none;
                
                h2 {
                    font-size: 160px;
                    font-weight: config.$h2-weight;
                    font-family: config.$font-family-title;
                    text-transform: uppercase;
                    color: config.$text-color;
                    opacity: 0.3;
                }
            }

            &__image {
                position: absolute;
                z-index: 1;
                top: -70%;
                left: 0;

                img {
                    width: 800px;
                    height: 1000px;
                    object-fit: cover;
                    object-position: top right;
                    opacity: 0.5;
                }
            }
        }

        &__killer {
            display: flex;
            flex-direction: column;
            position: relative;

            &__logo {
                position: relative;
                z-index: 2;

                img {
                    width: 50%;
                    opacity: 0.8;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        transform: translateY(-25px);
                        opacity: 1;
                    }
                }
            }

            &__text {
                position: absolute;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                user-select: none;
                
                h2 {
                    font-size: 160px;
                    font-weight: config.$h2-weight;
                    font-family: config.$font-family-title;
                    text-transform: uppercase;
                    color: config.$text-color;
                    opacity: 0.3;
                }
            }

            &__image {
                position: absolute;
                z-index: 1;
                top: -70%;
                right: 0;

                img {
                    width: 800px;
                    height: 1000px;
                    object-fit: cover;
                    object-position: top left;
                    opacity: 0.5;
                }
            }
        }
    }
}

@media (max-width: 1720px) { // pour que les image de dwight et nurse ne se touchent pas 
    .second-content {
        &__container {
            &__killer {
                &__image {
                    img {
                        width: 600px;
                        height: 900px;
                    }
                }
            }

            &__survivor {
                &__image {
                    img {
                        width: 600px;
                        height: 900px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .second-content {
        padding-top: 70px;
        padding-bottom: 300px;

        &__text {
            &__title {
                h2 {
                    font-size: 65px;
                }
            }

            &__subtitle {
                p {
                    font-size: config.$p-medium-size;
                }
            }
        }

        &__container {
            &__killer {
                &__text {
                    h2 {
                        font-size: 140px;
                    }
                }
                &__logo {
                    img {
                        width: 45%;
                    }
                }
                &__image {
                    img {
                        width: 500px;
                        height: 800px;
                    }
                }
            }

            &__survivor {
                &__text {
                    h2 {
                        font-size: 140px;
                    }
                }

                &__logo {
                    img {
                        width: 45%;
                    }
                }

                &__image {
                    img {
                        width: 500px;
                        height: 800px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .second-content {
        padding-top: 60px;
        padding-bottom: 220px;

        &__text {
            &__title {
                h2 {
                    font-size: 55px;
                }
            }

            &__subtitle {
                p {
                    font-size: config.$p-small-size;
                }
            }
        }

        &__container {
            &__killer {
                &__text {
                    h2 {
                        font-size: 120px;
                    }
                }

                &__logo {
                    img {
                        width: 40%;
                    }
                }

                &__image {
                    img {
                        width: 350px;
                        height: 600px;
                    }
                }
            }

            &__survivor {
                &__text {
                    h2 {
                        font-size: 120px;
                    }
                }
                &__logo {
                    img {
                        width: 40%;
                    }
                }
                &__image {
                    img {
                        width: 400px;
                        height: 600px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .second-content {
        padding-top: 50px;
        padding-bottom: 120px;

        &__text {
            &__title {
                h2 {
                    font-size: 45px;
                }
            }
        }

        &__container {
            margin-bottom: 0;

            &__killer {
                &__text {
                    h2 {
                        font-size: 100px;
                    }
                }
                &__logo {
                    padding-top: config.$padding-margin-global-40;

                    img {
                        width: 50%;
                    }
                }
                &__image {
                    img {
                        width: 250px;
                        height: 500px;
                    }
                }
            }

            &__survivor {
                &__text {
                    h2 {
                        font-size: 100px;
                    }
                }
                &__logo {
                    padding-top: config.$padding-margin-global-40;

                    img {
                        width: 50%;
                    }
                }
                &__image {
                    img {
                        width: 250px;
                        height: 500px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .second-content {
        padding-top: 10px;

        &__text {
            gap: 10px;

            &__title {
                h2 {
                    font-size: 40px;
                }
            }
        }
        
        &__container {
            &__killer {
                &__text {
                    h2 {
                        font-size: 50px;
                    }
                }
                &__logo {
                    img {
                        width: 50%;
                    }
                }
                &__image {
                    img {
                        width: 175px;
                        height: 400px;
                    }
                }
            }

            &__survivor {
                &__text {
                    h2 {
                        font-size: 50px;
                    }
                }
                &__logo {
                    img {
                        width: 50%;
                    }
                }
                &__image {
                    img {
                        width: 175px;
                        height: 400px;
                    }
                }
            }
        }
    }
}