@use '../../settings/config.variables' as config;

.third-content {
    max-width: 1920px;
    width: 100%;
    height: 500px;
    background-color: config.$background-color;
    position: relative;
    align-content: center;
    overflow: hidden;
    z-index: 1;

    &__gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background: config.$background-color-gradient;
        z-index: 2;
    }

    &__text {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50%;
        z-index: 3;
        padding: 0px 40px;

        &__title {

            h3 {
                font-family: config.$font-family-title;
                font-size: 100px;
                font-weight: config.$h3-weight;
                letter-spacing: config.$letter-spacing-title-text;
                text-transform: uppercase;
                background: -webkit-linear-gradient(config.$text-gradient-color, config.$text-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__subtitle {
            padding-top: config.$padding-margin-global-40;

            h4 {
                font-family: config.$font-family-text;
                font-size: config.$h4-big-size;
                font-weight: config.$h4-weight;
                color: config.$text-color;
            }
        }

        &__desc {
            padding-top: config.$padding-margin-global-20;

            p {
                font-family: config.$font-family-text;
                font-size: config.$p-big-size;
                font-weight: config.$p-weight;
                color: config.$text-color;
            }
        }

        &__button {
            padding-top: config.$padding-margin-global-40;
            cursor: pointer;

            p {
                display: inline; // pour que le bg color ne prenne que la taille du text
                font-family: config.$font-family-text;
                font-size: config.$p-big-size;
                font-weight: config.$p-weight;
                color: config.$text-color;
                background-color: rgba(26, 134, 197, 0.4);
                padding: 10px 15px;
                transition: all 0.3s ;

                &:hover {
                    background-color: config.$text-color;
                    color: rgb(26, 134, 197);
                }
            }
        }
    }

    &__image {
        position: absolute;
        padding-top: 20px;
        right: -20%;
        top: -20%;
        z-index: 2;

        img {
            width: 75%;
        }
    }
}

.back-video-third-content {
    position: absolute;
    opacity: 0.5;
    width: 120%;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 1440px) {
    .third-content {
        &__image {
            right: -50%;

            img {
                width: 65%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .third-content {
        &__text {
            &__title {
                h3 {
                    font-size: 90px;
                }
            }

            &__subtitle {
                h4 {
                    font-size: config.$h4-medium-size;
                }
            }

            &__button {
                p {
                    font-size: config.$p-medium-size;
                }
            }
        }
        &__image {
            right: -100%;

            img {
                width: 55%;
            }
        }
    }
}

@media (max-width: 768px) {
    .third-content {
        height: auto;
        padding: 20px 0px;
        
        &__text {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(26, 134, 197, 0.5);
            padding: config.$padding-margin-global-20;
            border-radius: config.$border-radius-global-20;
            margin-left: config.$padding-margin-global-20;
            width: 70%;

            &__title {
                h3 {
                    font-size: 60px;
                }
            }

            &__subtitle {
                h4 {
                    font-size: config.$h4-small-size;
                }
            }

            &__button {
                padding-bottom: config.$padding-margin-global-20;

                p {
                    font-size: config.$p-small-size;
                    border-radius: config.$border-radius-global-20;
                }
            }
        }

        &__image {
            right: -20%;
            top: 0;
            bottom: 0;

            img {
                width: 120%;
            }
        }

        .back-video-third-content {
            position: absolute;
            opacity: 0.5;
            width: 300%;
        }
    }
}