//colors
$background-color: #0b0b0b;
$background-color-gradient: linear-gradient(0deg,rgba(11, 11, 11, 1) 10%, rgba(237, 221, 83, 0) 100%);
$background-block-color: #1e1e1e;
$killers-color: #b71c1c;
$survivors-color: #1c38b7;
$text-color: #f2f2f2;
$text-gradient-color: #5a5a5a;

//font-family
$font-family-title: "Six Caps", sans-serif;
$font-family-text: "Roboto", sans-serif;

//font-size
$h1-big-size: 36px;
$h1-medium-size: 32px;
$h1-small-size: 28px;

$h2-big-size: 30px;
$h2-medium-size: 26px;
$h2-small-size: 24px;

$h3-big-size: 24px;
$h3-medium-size: 22px;
$h3-small-size: 20px;

$h4-big-size: 24px;
$h4-medium-size: 22px;
$h4-small-size: 20px;

$p-big-size: 18px;
$p-medium-size: 17px;
$p-small-size: 16px;

$p-big-size: 18px;
$p-medium-size: 17px;
$p-small-size: 16px;

//font-weight
$h1-weight: 700;

$h2-weight: 600;

$h3-weight: 600;

$h4-weight: 600;

$p-weight: 400;

$p-small-weight: 300;

//padding / margin / border-radius
$padding-content: 20px 40px;
$padding-margin-global-20: 20px;
$padding-margin-global-40: 40px;
$border-radius-global-20: 20px;

//gap 
$gap-global: 20px;

//letter-spacing
$letter-spacing-title-text: 5px;