@use '../settings/config.variables' as config;

.footer {
    display: flex;
    max-width: 1920px;
    justify-content: center;
    background-color: config.$background-block-color;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: config.$padding-content;

        &__logo {
            display: flex;
            justify-content: center;
            padding-bottom: config.$padding-margin-global-20;

            svg {
                width: 40px;
                fill: config.$text-color;
            }
        }

        &__legal {
            display: flex;
            flex-direction: row;
            gap: config.$gap-global;
            padding-bottom: config.$padding-margin-global-20;

            p {
                font-family: config.$font-family-text;
                font-size: config.$p-medium-size;
                font-weight: config.$p-small-weight;
                color: config.$text-color;
                cursor: pointer;
                
                &:hover {
                        transform: translateY(-2px);
                        opacity: 1;
                }
            }
        }

        &__officiallogo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: config.$padding-margin-global-20;

            img {
                width: 150px;
                cursor: pointer;
            }
        }

        &__warning {
            user-select: none;
            text-align: center;

            p {
                font-family: config.$font-family-text;
                font-size: config.$p-medium-size;
                font-weight: bold;
                color: config.$text-color;
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__block {
            &__legal {
                flex-direction: column;
                align-items: center;

                p {
                    font-size: config.$p-small-size;
                }
            }

            &__warning {
                p {
                    font-size: config.$p-small-size;
                }
            }
        }
    }
}