@use '../settings/config.variables' as config;

.header {
    position: fixed;
    max-width: 1920px;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid config.$text-color;
    z-index: 9999;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: config.$padding-content;
        top: 0;
        left: 0;

        &__logo {
            width: 40px;
            fill: config.$text-color;
            stroke: #000; // enlève les contours du svg
        }

        &__ul {

            &__li {
               list-style: none;
               display: inline-block; 
               margin-left: config.$padding-margin-global-40;

                &__a {
                    display: inline-block; // pour le bon fonctionnement de l'effet de transform dans le hoover
                    text-decoration: none;
                    color: config.$text-color;
                    font-family: config.$font-family-text;
                    font-size: config.$h3-big-size;
                    font-weight: config.$h3-weight;
                    opacity: 0.8;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: translateY(-4px);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__nav {
            &__ul {
                &__li {
                    &__a {
                        font-size: config.$h3-medium-size;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}