.sixth-content {
    max-width: 1920px;
    width: 100%;
    height: 500px;
    background-color: #0a0a0a;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    align-content: center;
    overflow: hidden;
    z-index: 1;

    &__gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background: linear-gradient(0deg,rgba(158, 52, 149, 0.1) 0%, rgba(10, 10, 8, 0) 35%);
    }

    &__text {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: auto;
        width: 50%;
        z-index: 3;
        padding: 0px 40px;

        &__title {

            h3 {
                font-family: "Six Caps", sans-serif;
                font-size: 100px;
                font-weight: 900;
                letter-spacing: 5px;
                text-transform: uppercase;
                background: -webkit-linear-gradient(#5a5a5a, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__subtitle {
            padding-top: 40px;

            h4 {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-weight: 600;
                color: white;
            }
        }

        &__desc {
            padding-top: 20px;

            p {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: white;
            }
        }

        &__button {
            padding-top: 40px;
            cursor: pointer;

            p {
                display: inline; // pour que le bg color ne prenne que la taille du text
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                font-weight: 600;
                color: white;
                background-color: rgba(179, 52, 218, 0.4);
                padding: 10px 15px;
                transition: all 0.3s ;

                &:hover {
                    background-color: white;
                    color: rgb(179, 52, 218);
                }
            }
        }
    }

    &__image {
        position: absolute;
        padding-top: 20px;
        left: 0;
        top: 0;
        z-index: 2;

        img {
            width: 90%;
        }
    }
}

@media (max-width: 1024px) {
    .sixth-content {
        &__image {
            left: -10%;

            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 768px) {
    .sixth-content {
        &__text {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(179, 52, 218, 0.5);
            padding: 20px;
            border-radius: 20px;
            margin-right: 20px;
            width: 70%;

            &__title {
                h3 {
                    font-size: 80px;
                }
            }

            &__subtitle {
                h4 {
                    font-size: 20px;
                }
            }

            &__button {
                padding-bottom: 20px;

                p {
                    font-size: 14px;
                    border-radius: 20px;
                }
            }
        }
        &__image {
            bottom: 0;
            left: -20%;

            img {
                width: 90%;
            }
        }
    }
}